@import 'nib'

// Dimensions
margin_small = 10px
margin_mid = 20px
thumbnail_size = 200px
header_height = 45px

// Colours
light_grey = #E9E9E9
mid_grey = #505050
dark_grey = #252525
shadow_black = rgba(0, 0, 0, 0.4)
highlight = rgb(70, 179, 19)

// Borders
black_border = 1px solid black

html, body
  height: 100%

header
  border-bottom: 1px solid #BDBDBD
  background: light_grey
  height: header_height
  margin-top: -10px

  ul
    li
      margin: 5px 10px
      float: left

header ul, footer ul
  list-style-type: none

.left
  float: left

.right
  float: right

.avatar
  border-radius: 3px

