@import 'nib'
@import './common'

#map-modal
  .modal-dialog
    width: 843px

#map
  margin: 10px 0

.picker
  margin: 5px

.active
  div
    background: gallery_active
  img
    border-color: gallery_active !important
    -webkit-filter: grayscale(0) !important
