@import 'nib'
@import './common'

#banner
  background-size: cover
  background-position: center
  height: 500px
  width: 100%
  color: white

  form
    input, button
      height: 60px
      font-size: 30px

    input
      width: 309px

    button
      width: 170px

.bannerwrap
  max-width: 800px
  min-width: 400px
  margin: 0 auto
