sidebar_width = 250px

html, body, .wrapper
  height: 100%

header, footer
  background: #252525
  color: white

footer
  border-top: 1px solid black
  padding: 10px

header button
  margin-top: 10px

header a, .sidebar a
  color: white
  text-decoration: none

header a:hover, .sidebar a:hover
  color: white
  text-decoration: none

footer ul
  height: 35px
  line-height: 35px

header ul li
  margin: 0 5px
  height: 60px
  line-height: 60px
  font-size: 20px

.avatar
  border-radius: 3px

#banner
  background-size: cover
  background-position: center
  height: 400px
  width: 100%
  color: white

.bannerwrap
  max-width: 800px
  min-width: 400px
  margin: 0 auto

.overlay
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.6)

.inset
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5) inset

.pad50
  padding: 20px 50px

#main h2
  font-size: 1.5em

.title
  font-size: 40px
  font-weight: bold

.details
  margin-top: 50px

.details > .row > div
  border-right: 1px solid #858585
  min-height: 210px

.details > .row > div:last-child
  border-right: none

.sidebar
  background: #222
  color: white
  width: sidebar_width
  float: left
  height: 100%
  border-right: 1px solid black
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.4) inset;

  ul
    list-style-type: none
    padding: 0

    li
      margin: 10px 0
      padding: 10px
      border-bottom: 1px solid #505050

      h2
        font-size: 20px
        margin: 0
        color: rgb(70, 179, 19);

      a
        margin-left: 15px

.dashboard
  padding: 10px 30px
  height: 100%
  margin-left: sidebar_width

  ul
    list-style-type: none

.name
  margin-bottom: 20px

.progress
  width: 300px

.eta
  margin-bottom: 20px

.jobbody > div
  margin-right: 20px

.metadata
  padding: 10px
  font-size: 30px
  border: 1px solid #ccc
  border-radius: 3px
  background: whitesmoke

.dropzone
  margin-bottom: 20px

.tracer-wrap
  margin-bottom: 20px
