@import 'nib'
@import './common'

#logo
  display: block

.overlay
  width: 100%
  height: 100%
  background: shadow_black

.inset
  box-shadow: 0 5px 7px shadow_black inset

.pad50
  padding: 20px 50px

.details
  margin-top: 50px

.details > .row > div
  border-right: 1px solid #eee
  min-height: 210px

.details > .row > div:last-child
  border-right: none

.annotator_row
  display: none

.metadata
  padding: 10px
  font-size: 30px
  border: 1px solid #ccc
  border-radius: 3px
  background: whitesmoke

.dropzone
  margin-bottom: margin_mid

.tracer-wrap
  margin-bottom: margin_mid

#gallery
  padding: margin_mid

  img
    width: thumbnail_size
    height: thumbnail_size
    border: 3px solid black

  input
    margin: margin_small 5px

.gallery-item
  width: thumbnail_size
  float: left
  margin: 0 margin_mid margin_mid 0

  div
    background: black

.button-wrap
  padding: margin_mid

table
  img
    max-height: 150px


