.job
  list-style-type: none

.job-img
  width: thumbnail_size
  height: thumbnail_size
  background-position: center
  background-size: cover

.jobbody > div
  margin-right: margin_mid

.name
  margin-bottom: margin_mid

.progress
  width: 300px

.eta
  margin-bottom: margin_mid

.spun
  transform: rotate(180deg)
