.job
  list-style-type: none

.job-img
  width: thumbnail_size
  height: thumbnail_size
  background-position: center
  background-size: cover

.jobbody > div
  margin-right: margin_mid

.name
  margin-bottom: margin_mid

.progress
  width: 190px
  height: 34px
  float: left

button.play
  float: left
  margin-right: 10px

h3.name
  margin: 0 0 10px 0

.eta
  margin-bottom: margin_mid

.spun
  transform: rotate(180deg)
