<li>
    <h2>
        <i class="glyphicon glyphicon-book"></i>
        <span class="title">Researcher Actions</span>
    </h2>
</li>

<li>
    <a href="start-job.html">
        <i class="glyphicon glyphicon-plus"></i>
        <span class="title">Start a new job</span>
    </a>
</li>

<li>
    <a href="upload/executable.html">
        <i class="glyphicon glyphicon-cloud-upload"></i>
        <span class="title">Upload a vision executable</span>
    </a>
</li>

<li>
    <a href="define-form.html">
        <i class="glyphicon glyphicon-pencil"></i>
        <span class="title">Define a custom form</span>
    </a>
</li>

<li>
    <h2>
        <i class="glyphicon glyphicon-user"></i>
        <span class="title">Citizen Actions</span>
    </h2>
</li>
