<!-- Navigation bar -->
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home" data-toggle="tab"><i class="fa"></i> Home</a></li>
  <li><a href="#about" data-toggle="tab"><i class="fa"></i> About</a></li>
  <li><a href="#friends" data-toggle="tab"><i class="fa"></i> Friends <span class="badge"><%= friend_count %></span></a></li>
  <li><i class="fa"></i><a href="user-profile-gallery.html">Photos <span class="badge"><%= photo_count %></span></a></li>
  <li><a href="#badges" data-toggle="tab"><i class="fa"></i> Badges <span class="badge"><%= user_badges %> / <%=available_badges %></span></a></li>
</ul>