<!--(bake shared/head.html title="User Profile")-->

<body>
    
    <link rel="stylesheet" href="/css/user_profile.css">

    <div id="row1" class="row">
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">
        <div class="profile_pic">
            <h1><%= username %></h1>
        </div>
      </div>
      <div class="col-md-1"><%= username %></div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
    </div>

    <div id="row2" class="row">
      <div class="col-md-8">.col-md-8</div>
      <div class="col-md-4">.col-md-4</div>
    </div>

    <div id="row3" class="row">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
    </div>

    <div id="row4" class="row">
      <div class="col-md-6">.col-md-6</div>
      <div class="col-md-6">.col-md-6</div>
    </div>


<!--SCRIPTS-->
<!--SCRIPTS END-->

<script src="jst.js"></script>

</body>

</html>