<tr class="annotator_row">
    <td>
        <img src="<%= url %>" alt="<%= title %>">
    </td>
    <td>
        <input type="text" class="form-control title-field" placeholder="Title">
    </td>
    <td>
        <input type="time" class="form-control time-field">
    </td>
    <td>
        <input type="date" class="form-control date-field">
    </td>
    <td>
        <button class="btn btn-default map-opener" data-toggle="modal" data-target="#map-modal">Pick on map</button>
        <p>or</p>
        <input type="text" class="form-control location-field" placeholder="Type a name">
    </td>
    <td>
        <button class="btn btn-default annotator-opener" data-toggle="modal" data-target="#annotator-modal">Annotate</button>
    </td>
</tr>
