<div class="overlay jumbotron inset">
    <div class="bannerwrap">
        <h2 class="text-center">Darwin is a system for analysing images of wildlife</h2>
        <p class="pad50 text-center">
            Darwin connects wildlife photographers and enthusiasts with academics and researchers. Upload your images today to contribute to conservation efforts and learn more about your favourite animals.
        </p>
        <p class="pad50 text-center">
            It breaks down the barriers between academics and the public and allows both groups to benefit from the other's work.
        </p>
        <form role="form" class="form-inline">
            <div class="form-group">
                <input type="text" placeholder="Email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" id="password">
            </div>
            <button type="button" class="btn btn-success">Log in</button>
        </form>
    </div>
</div>
