<form>
    <button type="button" class="btn btn-danger right" id="closer">Remove field &nbsp; &times;</button>

    <h3>Field name</h3>
    <input type="text" class="form-control" placeholder="eg. 'Wing', 'Age'">

    <h3>Field type</h3>
    <select class="form-control">
        <option value="annotation">Annotation</option>
        <option value="number">Number</option>
        <option value="text">Text</option>
        <option value="bool">Boolean (checkbox)</option>
        <option value="select">Selection (dropdown list)</option>
    </select>

    <h3>Required</h3>

    <input type="checkbox" class="form-control">

</form>

<hr>
