<header>
    <div class="container">
        <ul class="nav navbar-nav">
            <a href="/">
                <span class="title">Felina</span>
            </a>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <% if(loggedin){ %>
                <li>
                    <a href="/dashboard.html">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li>
                    <img height="32" src="http://www.gravatar.com/avatar/<%= icon %>.png">
                </li>
                <li>
                    <%= username %>
                </li>


            <% } else { %>
                <li>
                    <button class="btn btn-default" data-toggle="modal" data-target="#register">Register / Log in</button>
                </li>
            <% } %>
        </ul>
    </div>
</header>
