<header>
        <ul>
            <li id="header-left"></li>
            <li>
                <img src="/img/shutter.png" height="40px" width="40px">
                <a href="/">
                    <span class="title">Felina</span>
                </a>
            </li>
        </ul>

        <ul class="right">
            <% if(loggedin){ %>
                <li>
                    <a href="/dashboard.html">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li>
                    <img class="avatar" height="30" src="http://www.gravatar.com/avatar/<%= icon %>.png">
                </li>
                <li>
                    <%= username %>
                </li>


            <% } else { %>
                <li>
                    <button class="btn btn-default" data-toggle="modal" data-target="#register">Register / Log in</button>
                </li>
            <% } %>
        </ul>
</header>
