<ul class="right">
    <% if(res){ %>
        <li>
            <img class="avatar" height="30" src="http://www.gravatar.com/avatar/<%= user.icon %>.png">
        </li>
        <li>
            <%= user.name %>
        </li>
        <li>
            <button class="btn btn-default" id="logout"><i class="glyphicon glyphicon-log-out"></i>&nbsp;Log out</button>
        </li>
    <% } else { %>
        <li>
            <button class="btn btn-default" data-toggle="modal" data-target="#register">
                <i class="glyphicon glyphicon-log-in"></i>&nbsp;Register / Log in
            </button>
        </li>
    <% } %>
</ul>
