<div class="form-group">
    <label for="name" class="col-md-2 control-label">Title</label>
    <div class="col-md-10">
        <input type="text" class="form-control title-field" placeholder="Title">
    </div>
</div>
<div class="form-group">
    <label for="time" class="col-md-2 control-label">Time</label>
    <div class="col-md-10">
        <input type="time" class="form-control time-field">
    </div>
</div>
<div class="form-group">
    <label for="date" class="col-md-2 control-label">Date</label>
    <div class="col-md-10">
        <input type="date" class="form-control date-field">
    </div>
</div>
<div class="form-group">
    <label for="place" class="col-md-2 control-label">Place</label>
    <div class="col-md-10">
        <input type="text" class="form-control location-field" placeholder="Place">
    </div>
</div>
