<td id='tablenu<%= c %>'><%= c %> </td>
<td>
	<input id='skcontainer<%= c %>' name='serialkey<%= c %>' type='text' placeholder='Serial Key' class='form-control input-md' readonly/> 
</td>
<td>
	<input id='namecontainer<%= c %>' name='name<%= c %>' type='text' placeholder='Name'  class='form-control input-md' readonly>
</td>
<td style='verticle-align:middle' align='center'>
	<a class='btn btn-default'><%= projects %></a>
</td>
<td style='vertical-align:middle' align='center'>
	<a id='invalidate<%= c %>' class='btn btn-default'>Invalidate User</a>
	<a id='refresh<%= c %>' class='btn btn-default'>Refresh Token</a>
	<a class='btn btn-default'>View Gallery</a>
	<a id='edit<%= c %>' class='btn btn-default' data-toggle='button'>Edit</a>
</td>"