<table class="photo_gallery">
    <!-- <tbody> -->
        <tr>
            <td id="badge1">
                <img class="badge_ind" src=<%= badge1 %>>
            </td>
            <td id="badge2">               
                <img class="badge_ind" src=<%= badge2 %>>
            </td>
            <td id="badge3">
                <img class="badge_ind" src=<%= badge3 %>>
            </td>
            <td id="badge4">
                <img class="badge_ind" src=<%= badge4 %>>
            </td>
            <td id="badge5">
                <img class="badge_ind" src=<%= badge5 %>>
            </td>
        </tr>
        <tr>
            <td id="badge6">
                <img class="badge_ind" src=<%= badge6 %>>
            </td>
            <td id="badge7">
                <img class="badge_ind" src=<%= badge7 %>>
            </td>
            <td id="badge8">
                <img class="badge_ind" src=<%= badge8 %>>
            </td>
            <td id="badge9">
                <img class="badge_ind" src=<%= badge9 %>>
            </td>
            <td id="badge10">
                <img class="badge_ind" src=<%= badge10 %>>
            </td>
        </tr>
        <tr>
            <td id="badge11">
                <img class="badge_ind" src=<%= badge11 %>>
            </td>
            <td id="badge12">
                <img class="badge_ind" src=<%= badge12 %>>
            </td>
            <td id="badge13">
                <img class="badge_ind" src=<%= badge13 %>>
            </td>
            <td id="badge14">
                <img class="badge_ind" src=<%= badge14 %>>
            </td>
            <td id="badge15">
                <img class="badge_ind" src=<%= badge15 %>>
            </td>
        </tr>
        <tr>
            <td id="badge16">
                <img class="badge_ind" src=<%= badge16 %>>
            </td>
            <td id="badge17">
                <img class="badge_ind" src=<%= badge17 %>>
            </td>
            <td id="badge18">
                <img class="badge_ind" src=<%= badge18 %>>
            </td>
            <td id="badge19">
                <img class="badge_ind" src=<%= badge19 %>>
            </td>
            <td id="badge20">
                <img class="badge_ind" src=<%= badge20 %>>
            </td>
        </tr>
        <tr>
            <td id="badge21">
                <img class="badge_ind" src=<%= badge21 %>>
            </td>
            <td id="badge22">
                <img class="badge_ind" src=<%= badge22 %>>
            </td>
            <td id="badge23">
                <img class="badge_ind" src=<%= badge23 %>>
            </td>
            <td id="badge24">
                <img class="badge_ind" src=<%= badge24 %>>
            </td>
            <td id="badge25">
                <img class="badge_ind" src=<%= badge25 %>>
            </td>
        </tr>
    <!-- </tbody> -->
</table>