<div id="middlerow2" class="row navbar_style">
  <div id="label" class="col-md-12">
    <h2>Badges</h2>
  </div>
  <div id="tabs" class="col-md-12">
    <ul class="nav nav-tabs" id="tabs">
          <li class="active"><a href="#badges" data-toggle="tab"><i class="fa"></i> All Badges</a></li>
          <li><a href="#badges" data-toggle="tab"><i class="fa"></i> Completed Badges</a></li>
          <li><a href="#badges" data-toggle="tab"><i class="fa"></i> Uncompleted Badges</li>
        </ul>
  </div>
</div>