<div id="middlerow2" class="row navbar_style">
  <div id="middleRow2left" class="col-md-3 vertical_style">
    <div id="leftrow1" class="row">
      <div class="col-md-12 panel photo_wrapper body_background"></div>
    </div>
    <div id="leftrow2" class="row">
      <div class="col-md-12 panel badge_wrapper body_background"></div>
    </div>
  </div>
  <div id="middleRow2right" class="col-md-9"> 
    <div id="rightrow1" class="row">
      <ul class="newsfeed_wrapper newsfeed_list">
      </ul>
    </div>   
  </div>
</div>
